body {
  margin: 0%;
  background-color:rgba(0, 0, 0, 0.1);
  font-family: Verdana, Geneva, Tahoma, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu__booking {
  display: flex;
  justify-content: center;
  box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  margin: 0%;
  li {
    margin: 1rem 2rem 1rem 0;
    box-shadow: none;
    
  }
}

h1 {
  display: flex;
  justify-content: center;
}

.card{
    display:flex;
    flex-direction: row;
    background-color: white;
    border-radius: 1rem;
    
}